* {
  font-size: x-large;
}
body {
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.popup {
  position: fixed;
  top: -300px;
  left: -220px;
  width: 640px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popup-content {
  width: 100%;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
